-#
:javascript
  getGeoLocation();
  function getGeoLocation() {
    navigator.geolocation.getCurrentPosition(setGeoCookie);
  }
  function setGeoCookie(position) {
    var cookie_val = position.coords;
    document.cookie = "lat_lng=" + escape(cookie_val);
  }
%header{:class => %w[align-items-center]}
  %div{:class =>"d-flex flex-row-reverse align-items-center"}
    =link_to logout_path do
      %i.bi.bi-box-arrow-right.btn.btn-danger#logout-button{"aria-hidden" => "true"} Logout
    %div.flex-grow-1.text-center#header-text CPF schedule workplan
%div{:class =>"d-flex flex-row align-items-center"}
  %div#personal-data{:class =>"d-flex flex-column flex-grow-1"}
    %div ชื่อ: #{current_user.name}  จำนวนแผนกที่ดูแล: 
    %div หมายเลขประจำตัว: #{current_user.employee_id}
    %div.flex-grow-1.align-items-center#check-button
      =link_to timestamp_path(@current_user) do 
        %i.bi.bi-chevron-double-right.btn.btn-primary{"aria-hidden" => "true"} Check timestamp
%div
  - if @actual_time
    %table.table.table-striped
      %thead
        %tr
          %td ชื่อ-นามสกุล
          %td เวลา
      %tbody#time_object
      - @actual_time.each do |row|
        %tr
          %td= User.find_by_id(row.user_id).name

