// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap');
header {
    background-color: #3B5284;
}

.btn-primary {
    background-color: $green-500 !important;
    margin: 10px;
}

.btn-red {
    background-color: $red-600 !important;
    margin: 10px;
}

#personal-data {
    margin-left: 5%;
}

.display-font {
    font-family: 'Kanit', cursive;
}