body {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}


/*::-webkit-scrollbar {
    width: 0;
    background: transparent;
}*/


/* Optional: show position indicator in red */


/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.square {
    height: 500px;
    width: 500px;
    background-color: #555;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.fixedbutton {
    position: fixed;
    bottom: 20px;
}


/* ==============full page tab=============== */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    border-radius: 10px 10px 0px 0px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#work1,
#plan1,
#งานถอนขน_p {
    background-color: #5BA8A0;
}

#work2,
#plan2,
#งานไก่ตกราว_p {
    background-color: #CBE54E;
}

#work3,
#plan3,
#งานเชือดไก่_p {
    background-color: #94B447;
}

#work4,
#plan4,
#งานจัดเก็บและจ่ายสินค้าแช่แข็ง_p {
    background-color: #5D6E1E;
}


/* ==============Collapse side panel=============== */

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* ==============fixed tab=============== */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}

.content {
    color: white;
    padding: 10px 20px;
    height: 100%;
}


/* ============== btn group =============== */

.btn-group button {
    background-color: #04AA6D;
    /* Green background */
    border: 1px solid green;
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: #3e8e41;
}


/* ==============mini tab content=============== */


/* Style the tab */

.tab {
    overflow: hidden;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: whitesmoke;
    border: 1px;
    width: 50%;
    float: left;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.minitabcontent {
    display: none;
    border-top: none;
}