body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;                   /* Remove scrollbar space */
    background: transparent;    /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.square {
    height: 500px;
    width: 500px;
    background-color: #555;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.fixedbutton {
    position: fixed; 
    bottom: 20px; 
}

/* ==============full page tab=============== */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    border-radius: 10px 10px 0px 0px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
  }
  
.tablink:hover {
    background-color: #777;
  }
  
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #work1 {background-color: #5BA8A0; }
  #work2 {background-color: #CBE54E; }
  #work3 {background-color: #94B447; }
  #work4 {background-color: #5D6E1E; }
 
/* ==============Collapse side panel=============== */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  /* ==============fixed tab=============== */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .content {
    color: white;
    padding: 10px 20px;
    height: 100%;
  }